backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bleach==1.5.0
certifi==2016.9.26
configparser==3.5.0
cycler==0.10.0
dask==0.13.0
decorator==4.0.11
dill==0.2.6
entrypoints==0.2.2
enum34==1.1.6
functools32==3.2.3.post2
gdbn==0.1
gnumpy==0.2
html5lib==0.9999999
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.9.4
joblib==0.10.3
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
-e git+https://github.com/Lasagne/Lasagne.git@9999edf744c63e7d5b91832ba6a35e984788bc48#egg=Lasagne-master
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.3
nbconvert==5.1.1
nbformat==4.2.0
networkx==1.11
nolearn==0.6.0
notebook==4.3.1
numpy==1.12.0
olefile==0.44
pandocfilters==1.4.1
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.9
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
pyzmq==16.0.2
qtconsole==4.2.1
scandir==1.4
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
subprocess32==3.2.7
tabulate==0.7.7
terminado==0.6
testpath==0.3
Theano==0.9.0.rc2
toolz==0.8.2
tornado==4.4.2
traitlets==4.3.1
wcwidth==0.1.7
wheel==0.24.0
widgetsnbextension==1.2.6
